body {
	color: #333;
	font-size: 14px;
}	

.tc {
	text-align: center;
}

.tl {
	text-align: left;
}

.tr {
	text-align: right;
}

.red {
	color: #d50303;
}

.gray {
	color: #838383;
}

.pd10 {
	padding: 10px;
}

.img-responsive {
	display: block;
	width: 100%;
	height: auto;
	min-height: 1px;
	max-width: 100%;
}

.ellipsis {
	display: block;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

.weui-grid:after {
	border-bottom: none !important;
}


.nz-loading {
	text-align: center;
	color: #87cb62;
	.nz-loading-text {
		position: relative;
		top: 2px;
	}
	.vux-spinner-bubbles {
		stroke: #87cb62 !important;
	    fill: #87cb62 !important;
	}
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}